<% if user_signed_in?%>
	<%= gmaps4rails(@json) %>
	<%= form_tag('/stores', method: "post") do%>
		<%= label_tag "Input your address" %> <br />
		<%= text_field_tag :address %>
	<% end %>
	<% @stores.each do |store| %>
		<%= link_to store.name, store_path(store) %><br />
	<% end %>
<% else %>
	<h2> Sign in or create an account to explore the wonderful coffee near you </h2>
<% end %>
