<% if user_signed_in?%>
	<%= gmaps4rails(@json) %> <br />
	<%= form_tag('/stores', method: "get") do%>
		<%= label_tag "Input your address" %>
		<%= text_field_tag(:address, nil, :placeholder => "ex. 10 east 21st St. NYC, NY") %>
		<%= submit_tag "Find Cafes" %>
	<% end %>
	<%= form_tag('/stores', method: "get") do%>
		<%= label_tag "Input your address" %>
		<%= text_field_tag(:address, nil, :placeholder => "ex. 10 east 21st St. NYC, NY")%>
		<%= hidden_field_tag "wide_search", true %>
		<%= submit_tag "Wide Search" %>
		<%= "This could take a bit"  %>
	<% end %>
	<% if @stores.first == nil %>
		<%= "couldn't find any" %>
	<% end %>
	<% @stores.each do |store| %>
		<%= link_to store.name, store_path(store) %><br />
	<% end %>
<% else %>
	<h2> Sign in or create an account to explore the wonderful coffee near you </h2>
<% end %>
