<% if review %>
	<h3 style="color: black; margin-left: 50px"><%= link_to review.title, review_path(review) %></h3>
	<div class="review_box">
			<strong><p><%= review.text %></p></strong>
			<p>
				<strong>Noise</strong>: <%= review.noise%> 
				<strong>People</strong>: <%= review.people %>
				<strong>Wifi</strong>: <%= review.wifi %>
				<strong>Price</strong>: <%= review.price %>
				<strong>Coffee</strong>: <%= review.coffee %>

			</p>
			<p>
				<strong> 
					Written by: <%= link_to review.user.name, user_path(review.user) %>
					About <%= link_to review.store.name, store_path(review.store) %>
				</strong>
			</p>
			<% if current_user && current_user.reviews.include?(review) %>
				<div class = "edit_buttons">
					<%= button_to "Edit Review", edit_review_path(review), method: :get%>
					<%= button_to "Delete Review", review_path(review), method: :delete%>
				</div>
			<% end %>
	</div>
<% end %>