<!DOCTYPE html>
<html>
<head>
  <title>BeanFiend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap"%>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<head>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Bean Fiend</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
	<li><a href="/stores">Coffee</a></li>
	<% if user_signed_in? %>
		<li><%= link_to("Profile", edit_user_registration_path, :method => :get)%></li>
		<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
	<%else %>
      		<li><%= link_to('Login', new_user_session_path)  %></li>
      	<%end%>
    </ul>
  </div>
</div>

<%= yield %>
<footer>
	<%= yield :scripts %> 
</footer>
</body>
</html>
